* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #211f1b;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-container {
  min-width: 80vw;
}

@media screen and (max-width: 600px) {
  .inner-container {
    min-width: 95vw;
  }
}

.action {
  min-width: 20%;
}

.url-secondary {
  margin-bottom: 2vh !important;
}

.slug-secondary {
  margin-top: 2vh !important;
}

.text-input {
  min-height: 5rem;
}

.slug {
  margin-top: 4vh;
}

.title {
  font-size: 4rem;
  color: #069489;
  margin-bottom: 5rem;
}

.App-logo {
  height: 10rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
